    .swiper {
        width: 100%;
        height: 100%;
        /* altura do banner */
        position: absolute;
        top: 0;
        left: 0;

    }



    .swiper-wrapper {
        width: 100%;
        height: fit-content;
        position: absolute;
        top: 30%;
        left: 0;


    }