    .swiper {
        width: 50%;
        height: fit-content;
        /* altura do banner */
        position: absolute;
        left: 8%;
        bottom: 10vh;
        
        padding: 0;

    }



    .swiper-wrapper {
        
        
        


    }

    .swiper-pagination{

        /* altura do banner */
        width: fit-content !important;
        position: absolute !important;
        left: 90% !important;
        bottom: 30vh !important;
        
        display: flex;
        gap: 15px;
        flex-direction: column; 
        

    }



    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background: #bbb;
        opacity: 1; /* remove o padrão translúcido do Swiper */
        border-radius: 50%;
        transition: all 0.3s ease;
    }

    .swiper-pagination-bullet-active {
    background: #555 !important;
    outline: 3px solid #555 !important;      /* borda externa */
    outline-offset: 6px !important;          /* espaço entre o centro e a borda */
    }


    @media (max-width: 767px ){

          .swiper {

            width: 100%;
            left: 8%;
          }

    }
